# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/

# Environment variables
.env*.local

# Common ignores
node_modules
.next/
.DS_Store

#Anthropic API Key
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
